<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>
<%= "Message from controller : #{@controller_message}" %>
<%= link_to("Go to Index", {:action => 'index', :id => 5, :random => 'vedipen'}) %>
